{% extends 'base.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger text-center">
    {{ error }}
</div>
{% endif %}

<div class="card p-4 shadow">
<h3>Add Application</h3>



<form method="POST">
{% csrf_token %}

<label>User</label>
<select name="user" class="form-control mb-3">
{% for user in users %}
<option value="{{ user.id }}">{{ user.name }}</option>
{% endfor %}
</select>

<label>Job</label>
<select name="job" class="form-control mb-3">
{% for job in jobs %}
<option value="{{ job.id }}">{{ job.title }}</option>
{% endfor %}
</select>

<div class="d-flex justify-content-between mt-3">
    
    <button class="btn btn-dark">Apply</button>

    <a href="{% url 'applications' %}" class="btn btn-dark">Back</a>

</div>

</form>
</div>

{% endblock %}